.complete-image {
  width: 160px;
  margin-left: auto;
  border-radius: 3px;
}
.complete-input {
  width: 160px;
  margin: 0 10px;
  padding: 0px 20px;
}
.complete-text {
  margin: auto 0;
  line-height: 3rem;
}