.card-count {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 3px;
}
.card-count-right {
  background-color: $secondary;
}
.card-count-total {
  background-color: $primary;
}